<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-gb" />
    <meta name="description" content="Sam King" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/samking_1448816720000.css" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />

    <!-- Meta -->
    <title>Tagged 'streetstyle' &mdash; Sam King</title>
    <meta name="description" content="Photos tagged 'streetstyle'." />
    <meta
      name="keywords"
      content="sam king, photographer, photography, designer, web designer, graphic designer, developer, london, united kingdom, streetstyle"
    />
    <meta name="author" content="Sam King" />
    <meta name="robots" content="index,follow,archive" />
    <!-- Open graph -->
    <meta property="og:locale" content="en_gb" />
    <meta property="og:title" content="Tagged 'streetstyle' &mdash; Sam King" />
    <meta property="og:url" content="/tagged/streetstyle/" />
    <meta property="og:site_name" content="Sam King" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Photos tagged 'streetstyle'." />
    <meta
      property="og:image"
      content="/static/photos/0126_lrg_1448394914000.jpg"
    />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@samkingco" />
    <meta name="twitter:creator" content="@samkingco" />
    <meta name="twitter:url" content="/tagged/streetstyle/" />
    <meta
      name="twitter:title"
      content="Tagged 'streetstyle' &mdash; Sam King"
    />
    <meta name="twitter:description" content="Photos tagged 'streetstyle'." />
    <meta
      name="twitter:image:src"
      content="/static/photos/0126_lrg_1448394914000.jpg"
    />
    <!-- Icons -->
    <link rel="apple-touch-icon" href="/static/img/icon.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/static/img/icon.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
  </head>
  <body>
    <div class="navigation">
      <div class="navigation__bio">
        <a href="/" class="branding">
          <img src="/static/img/logo.svg" class="branding__logo" width="32" />
          <span class="branding__wordmark">Sam King</span>
        </a>

        <p>Photographer &amp; Designer.</p>
      </div>

      <ul class="navigation__links mono">
        <li class="navigation__link">
          <a href="/archive/">Archive</a>
        </li>
        <li class="navigation__link navigation__link--active">
          <a href="/tagged/">Tags</a>
        </li>
        <li class="navigation__link">
          <a href="/info/">Info</a>
        </li>
      </ul>
    </div>

    <div class="page-wrapper page-wrapper--grid">
      <div class="post post--square post--title-block">
        <div class="post--square__container">
          <div class="post--square__content">
            <h1>#streetstyle</h1>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="126"
        data-caption="&mdash;"
        data-tags="lyst,portrait,streetstyle,"
        data-focal="80mm"
        data-exposure="1/320s"
        data-aperture="f/4.5"
        data-iso="800"
        data-capturedate="2015-09-21"
        data-timestamp="2015-09-21, 11:39:46"
        data-fullimage="/static/photos/0126_lrg_1448394914000.jpg"
        data-ratio="66.52777777777777%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.52777777777777%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0126_sml_1448394914000.jpg"
                data-srcset="/static/photos/0126_sml_1448394914000.jpg 768w,
                                  /static/photos/0126_med_1448394914000.jpg 1024w,
                                  /static/photos/0126_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="125"
        data-caption="&mdash;"
        data-tags="bw,lyst,portrait,streetstyle,"
        data-focal="80mm"
        data-exposure="1/1600s"
        data-aperture="f/5.6"
        data-iso="640"
        data-capturedate="2015-09-18"
        data-timestamp="2015-09-18, 14:49:41"
        data-fullimage="/static/photos/0125_lrg_1448394914000.jpg"
        data-ratio="66.52777777777777%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.52777777777777%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0125_sml_1448394914000.jpg"
                data-srcset="/static/photos/0125_sml_1448394914000.jpg 768w,
                                  /static/photos/0125_med_1448394914000.jpg 1024w,
                                  /static/photos/0125_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="124"
        data-caption="&mdash;"
        data-tags="lyst,portrait,streetstyle,"
        data-focal="112mm"
        data-exposure="1/640s"
        data-aperture="f/8"
        data-iso="400"
        data-capturedate="2015-09-18"
        data-timestamp="2015-09-18, 09:00:33"
        data-fullimage="/static/photos/0124-extended_lrg_1448394914000.jpg"
        data-ratio="66.5625%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.5625%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0124-extended_sml_1448394914000.jpg"
                data-srcset="/static/photos/0124-extended_sml_1448394914000.jpg 768w,
                                  /static/photos/0124-extended_med_1448394914000.jpg 1024w,
                                  /static/photos/0124-extended_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="123"
        data-caption="&mdash;"
        data-tags="lyst,portrait,streetstyle,"
        data-focal="200mm"
        data-exposure="1/200s"
        data-aperture="f/5"
        data-iso="400"
        data-capturedate="2015-09-18"
        data-timestamp="2015-09-18, 10:16:52"
        data-fullimage="/static/photos/0123_lrg_1448394914000.jpg"
        data-ratio="66.52777777777777%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.52777777777777%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0123_sml_1448394914000.jpg"
                data-srcset="/static/photos/0123_sml_1448394914000.jpg 768w,
                                  /static/photos/0123_med_1448394914000.jpg 1024w,
                                  /static/photos/0123_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <a href="" class="disabled">&larr; Prev</a>
      <span>Page: 1/1</span>
      <a href="" class="disabled">Next &rarr;</a>
    </div>

    <script src="/static/js/samking_1448195015000.js"></script>

    <div class="overlay"></div>

    <script type="text/template" class="template--photo-overlay">
                  <div class="overlay__navigation">
          <a href="#" class="js--overlay-close">&times;</a>
          <div class="overlay__pagination">
              <a href="#" class="js--overlay-prev<% if (!sk.image.prevImageIndex) { %> disabled<% } %>">&larr;</a>
              <a href="#" class="js--overlay-next<% if (!sk.image.nextImageIndex) { %> disabled<% } %>">&rarr;</a>
          </div>
      </div>

      <div class="overlay__image-container">
          <div class="overlay__ratio"
               style="padding-bottom: <%- sk.image.ratio %>"></div>
          <div class="overlay__image  js--overlay-close"
               style="background-image: url(<%- sk.image.fullimage %>)"></div>
      </div>

      <dl class="overlay__details" data-overlayindex="<%- sk.image.overlayindex %>">
          <div class="overlay__details__section">
              <dt><%- sk.image.index %>. <%- sk.image.capturedate %></dt>
              <dd><%- sk.image.caption %></dd>
          </div>
          <div class="overlay__details__section overlay__details__section--half">
              <dt>Focal Length</dt>
              <dd><%- sk.image.focal %></dd>
              <dt>Shutter</dt>
              <dd><%- sk.image.exposure %></dd>
          </div>
          <div class="overlay__details__section overlay__details__section--half">
              <dt>Aperture</dt>
              <dd><%- sk.image.aperture %></dd>
              <dt>ISO</dt>
              <dd><%- sk.image.iso %></dd>
          </div>
          <% if (sk.image.tags.length) { %>
          <div class="overlay__details__section">
              <dt>Tagged</dt>
              <dd>
                  <% _.each(sk.image.tags, function (tag) { %>
                      <a href="<%- tag.url %>">#<%- tag.name %></a>
                  <% }); %>
              </dd>
          </div>
          <% } %>
      </dl>
    </script>

    <!-- GA -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );
      ga("create", "", "samking.co");
      ga("send", "pageview");
    </script>
  </body>
</html>
