<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-gb" />
    <meta name="description" content="Sam King" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/samking_1448816720000.css" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />

    <!-- Meta -->
    <title>Tagged 'nature' &mdash; Sam King</title>
    <meta name="description" content="Photos tagged 'nature'." />
    <meta
      name="keywords"
      content="sam king, photographer, photography, designer, web designer, graphic designer, developer, london, united kingdom, nature"
    />
    <meta name="author" content="Sam King" />
    <meta name="robots" content="index,follow,archive" />
    <!-- Open graph -->
    <meta property="og:locale" content="en_gb" />
    <meta property="og:title" content="Tagged 'nature' &mdash; Sam King" />
    <meta property="og:url" content="/tagged/nature/" />
    <meta property="og:site_name" content="Sam King" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Photos tagged 'nature'." />
    <meta
      property="og:image"
      content="/static/photos/0279-half_lrg_1448394918000.jpg"
    />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@samkingco" />
    <meta name="twitter:creator" content="@samkingco" />
    <meta name="twitter:url" content="/tagged/nature/" />
    <meta name="twitter:title" content="Tagged 'nature' &mdash; Sam King" />
    <meta name="twitter:description" content="Photos tagged 'nature'." />
    <meta
      name="twitter:image:src"
      content="/static/photos/0279-half_lrg_1448394918000.jpg"
    />
    <!-- Icons -->
    <link rel="apple-touch-icon" href="/static/img/icon.png" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/static/img/icon.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
  </head>
  <body>
    <div class="navigation">
      <div class="navigation__bio">
        <a href="/" class="branding">
          <img src="/static/img/logo.svg" class="branding__logo" width="32" />
          <span class="branding__wordmark">Sam King</span>
        </a>

        <p>Photographer &amp; Designer.</p>
      </div>

      <ul class="navigation__links mono">
        <li class="navigation__link">
          <a href="/archive/">Archive</a>
        </li>
        <li class="navigation__link navigation__link--active">
          <a href="/tagged/">Tags</a>
        </li>
        <li class="navigation__link">
          <a href="/info/">Info</a>
        </li>
      </ul>
    </div>

    <div class="page-wrapper page-wrapper--grid">
      <div class="post post--square post--title-block">
        <div class="post--square__container">
          <div class="post--square__content">
            <h1>#nature</h1>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="279"
        data-caption="Squirrels of New York."
        data-tags="bw,nature,nyc,travel,"
        data-focal="55mm"
        data-exposure="1/320s"
        data-aperture="f/1.8"
        data-iso="200"
        data-capturedate="2015-11-06"
        data-timestamp="2015-11-06, 16:17:21"
        data-fullimage="/static/photos/0279-half_lrg_1448394918000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0279-half_sml_1448394918000.jpg"
                data-srcset="/static/photos/0279-half_sml_1448394918000.jpg 768w,
                                  /static/photos/0279-half_med_1448394918000.jpg 1024w,
                                  /static/photos/0279-half_lrg_1448394918000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="278"
        data-caption="Squirrels of New York."
        data-tags="bw,nature,nyc,travel,"
        data-focal="55mm"
        data-exposure="1/320s"
        data-aperture="f/1.8"
        data-iso="200"
        data-capturedate="2015-11-06"
        data-timestamp="2015-11-06, 16:17:07"
        data-fullimage="/static/photos/0278-half_lrg_1448394918000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0278-half_sml_1448394918000.jpg"
                data-srcset="/static/photos/0278-half_sml_1448394918000.jpg 768w,
                                  /static/photos/0278-half_med_1448394918000.jpg 1024w,
                                  /static/photos/0278-half_lrg_1448394918000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="265"
        data-caption="Squirrels of New York."
        data-tags="bw,nature,nyc,travel,"
        data-focal="55mm"
        data-exposure="1/640s"
        data-aperture="f/5.6"
        data-iso="400"
        data-capturedate="2015-11-05"
        data-timestamp="2015-11-05, 18:30:25"
        data-fullimage="/static/photos/0265-extended_lrg_1448394918000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0265-extended_sml_1448394918000.jpg"
                data-srcset="/static/photos/0265-extended_sml_1448394918000.jpg 768w,
                                  /static/photos/0265-extended_med_1448394918000.jpg 1024w,
                                  /static/photos/0265-extended_lrg_1448394918000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="264"
        data-caption="Squirrels of New York."
        data-tags="bw,nature,nyc,travel,"
        data-focal="55mm"
        data-exposure="1/640s"
        data-aperture="f/5.6"
        data-iso="400"
        data-capturedate="2015-11-05"
        data-timestamp="2015-11-05, 18:30:22"
        data-fullimage="/static/photos/0264_lrg_1448394918000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0264_sml_1448394918000.jpg"
                data-srcset="/static/photos/0264_sml_1448394918000.jpg 768w,
                                  /static/photos/0264_med_1448394918000.jpg 1024w,
                                  /static/photos/0264_lrg_1448394918000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="210"
        data-caption="&mdash;"
        data-tags="bw,nature,nyc,travel,"
        data-focal="55mm"
        data-exposure="1/640s"
        data-aperture="f/5"
        data-iso="320"
        data-capturedate="2015-11-03"
        data-timestamp="2015-11-03, 19:53:57"
        data-fullimage="/static/photos/0210-half_lrg_1448394917000.jpg"
        data-ratio="125%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--tall"
              style="width: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0210-half_sml_1448394917000.jpg"
                data-srcset="/static/photos/0210-half_sml_1448394917000.jpg 768w,
                                  /static/photos/0210-half_med_1448394917000.jpg 1024w,
                                  /static/photos/0210-half_lrg_1448394917000.jpg 1400w"
                class="ratio-container__image post__image post__image--tall lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="122"
        data-caption="&mdash;"
        data-tags="bw,nature,"
        data-focal="35mm"
        data-exposure="1/1000s"
        data-aperture="f/4.5"
        data-iso="200"
        data-capturedate="2015-09-06"
        data-timestamp="2015-09-06, 15:15:05"
        data-fullimage="/static/photos/0122-half_lrg_1448394914000.jpg"
        data-ratio="125%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--tall"
              style="width: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0122-half_sml_1448394914000.jpg"
                data-srcset="/static/photos/0122-half_sml_1448394914000.jpg 768w,
                                  /static/photos/0122-half_med_1448394914000.jpg 1024w,
                                  /static/photos/0122-half_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image post__image--tall lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="121"
        data-caption="&mdash;"
        data-tags="bw,minimal,nature,"
        data-focal="35mm"
        data-exposure="1/1000s"
        data-aperture="f/4.5"
        data-iso="200"
        data-capturedate="2015-09-06"
        data-timestamp="2015-09-06, 15:14:11"
        data-fullimage="/static/photos/0121-half_lrg_1448394914000.jpg"
        data-ratio="125%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--tall"
              style="width: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0121-half_sml_1448394914000.jpg"
                data-srcset="/static/photos/0121-half_sml_1448394914000.jpg 768w,
                                  /static/photos/0121-half_med_1448394914000.jpg 1024w,
                                  /static/photos/0121-half_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image post__image--tall lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="119"
        data-caption="&mdash;"
        data-tags="local,nature,shadows,"
        data-focal="35mm"
        data-exposure="1/250s"
        data-aperture="f/5"
        data-iso="200"
        data-capturedate="2015-08-15"
        data-timestamp="2015-08-15, 16:07:57"
        data-fullimage="/static/photos/0119-half_lrg_1448394914000.jpg"
        data-ratio="149.97321906802355%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--tall"
              style="width: 66.67857142857143%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0119-half_sml_1448394914000.jpg"
                data-srcset="/static/photos/0119-half_sml_1448394914000.jpg 768w,
                                  /static/photos/0119-half_med_1448394914000.jpg 1024w,
                                  /static/photos/0119-half_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image post__image--tall lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="118"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="35mm"
        data-exposure="1/250s"
        data-aperture="f/5.6"
        data-iso="200"
        data-capturedate="2015-08-15"
        data-timestamp="2015-08-15, 15:44:17"
        data-fullimage="/static/photos/0118-half_lrg_1448394914000.jpg"
        data-ratio="149.97321906802355%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--tall"
              style="width: 66.67857142857143%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0118-half_sml_1448394914000.jpg"
                data-srcset="/static/photos/0118-half_sml_1448394914000.jpg 768w,
                                  /static/photos/0118-half_med_1448394914000.jpg 1024w,
                                  /static/photos/0118-half_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image post__image--tall lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="117"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="35mm"
        data-exposure="1/250s"
        data-aperture="f/8"
        data-iso="400"
        data-capturedate="2015-08-15"
        data-timestamp="2015-08-15, 15:09:42"
        data-fullimage="/static/photos/0117_lrg_1448394914000.jpg"
        data-ratio="66.66666666666666%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.66666666666666%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0117_sml_1448394914000.jpg"
                data-srcset="/static/photos/0117_sml_1448394914000.jpg 768w,
                                  /static/photos/0117_med_1448394914000.jpg 1024w,
                                  /static/photos/0117_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="116"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="35mm"
        data-exposure="1/250s"
        data-aperture="f/6.3"
        data-iso="400"
        data-capturedate="2015-08-15"
        data-timestamp="2015-08-15, 15:07:14"
        data-fullimage="/static/photos/0116_lrg_1448394914000.jpg"
        data-ratio="66.66666666666666%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.66666666666666%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0116_sml_1448394914000.jpg"
                data-srcset="/static/photos/0116_sml_1448394914000.jpg 768w,
                                  /static/photos/0116_med_1448394914000.jpg 1024w,
                                  /static/photos/0116_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="91"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/320s"
        data-aperture="f/1.8"
        data-iso="400"
        data-capturedate="2015-05-10"
        data-timestamp="2015-05-10, 19:22:40"
        data-fullimage="/static/photos/0091_lrg_1448394914000.jpg"
        data-ratio="66.66666666666666%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.66666666666666%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0091_sml_1448394914000.jpg"
                data-srcset="/static/photos/0091_sml_1448394914000.jpg 768w,
                                  /static/photos/0091_med_1448394914000.jpg 1024w,
                                  /static/photos/0091_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="90"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/320s"
        data-aperture="f/1.8"
        data-iso="400"
        data-capturedate="2015-05-10"
        data-timestamp="2015-05-10, 19:22:14"
        data-fullimage="/static/photos/0090-half_lrg_1448394914000.jpg"
        data-ratio="66.66666666666666%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.66666666666666%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0090-half_sml_1448394914000.jpg"
                data-srcset="/static/photos/0090-half_sml_1448394914000.jpg 768w,
                                  /static/photos/0090-half_med_1448394914000.jpg 1024w,
                                  /static/photos/0090-half_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="89"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/320s"
        data-aperture="f/1.8"
        data-iso="400"
        data-capturedate="2015-05-10"
        data-timestamp="2015-05-10, 19:21:09"
        data-fullimage="/static/photos/0089-half_lrg_1448394914000.jpg"
        data-ratio="66.66666666666666%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.66666666666666%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0089-half_sml_1448394914000.jpg"
                data-srcset="/static/photos/0089-half_sml_1448394914000.jpg 768w,
                                  /static/photos/0089-half_med_1448394914000.jpg 1024w,
                                  /static/photos/0089-half_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="87"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/320s"
        data-aperture="f/3.2"
        data-iso="400"
        data-capturedate="2015-05-10"
        data-timestamp="2015-05-10, 19:14:43"
        data-fullimage="/static/photos/0087_lrg_1448394914000.jpg"
        data-ratio="66.66666666666666%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 66.66666666666666%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0087_sml_1448394914000.jpg"
                data-srcset="/static/photos/0087_sml_1448394914000.jpg 768w,
                                  /static/photos/0087_med_1448394914000.jpg 1024w,
                                  /static/photos/0087_lrg_1448394914000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="8"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/250s"
        data-aperture="f/2.5"
        data-iso="400"
        data-capturedate="2015-01-17"
        data-timestamp="2015-01-17, 15:52:15"
        data-fullimage="/static/photos/0008_lrg_1448394912000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0008_sml_1448394912000.jpg"
                data-srcset="/static/photos/0008_sml_1448394912000.jpg 768w,
                                  /static/photos/0008_med_1448394912000.jpg 1024w,
                                  /static/photos/0008_lrg_1448394912000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="7"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/250s"
        data-aperture="f/2.5"
        data-iso="400"
        data-capturedate="2015-01-17"
        data-timestamp="2015-01-17, 15:49:12"
        data-fullimage="/static/photos/0007_lrg_1448394912000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0007_sml_1448394912000.jpg"
                data-srcset="/static/photos/0007_sml_1448394912000.jpg 768w,
                                  /static/photos/0007_med_1448394912000.jpg 1024w,
                                  /static/photos/0007_lrg_1448394912000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="6"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/250s"
        data-aperture="f/3.2"
        data-iso="200"
        data-capturedate="2015-01-17"
        data-timestamp="2015-01-17, 15:42:02"
        data-fullimage="/static/photos/0006-half_lrg_1448627977000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0006-half_sml_1448627977000.jpg"
                data-srcset="/static/photos/0006-half_sml_1448627977000.jpg 768w,
                                  /static/photos/0006-half_med_1448627977000.jpg 1024w,
                                  /static/photos/0006-half_lrg_1448627977000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="5"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/250s"
        data-aperture="f/3.2"
        data-iso="200"
        data-capturedate="2015-01-17"
        data-timestamp="2015-01-17, 15:29:09"
        data-fullimage="/static/photos/0005-half_lrg_1448394912000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0005-half_sml_1448394912000.jpg"
                data-srcset="/static/photos/0005-half_sml_1448394912000.jpg 768w,
                                  /static/photos/0005-half_med_1448394912000.jpg 1024w,
                                  /static/photos/0005-half_lrg_1448394912000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="4"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/250s"
        data-aperture="f/3.2"
        data-iso="200"
        data-capturedate="2015-01-17"
        data-timestamp="2015-01-17, 15:26:00"
        data-fullimage="/static/photos/0004_lrg_1448394912000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0004_sml_1448394912000.jpg"
                data-srcset="/static/photos/0004_sml_1448394912000.jpg 768w,
                                  /static/photos/0004_med_1448394912000.jpg 1024w,
                                  /static/photos/0004_lrg_1448394912000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="3"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/640s"
        data-aperture="f/4"
        data-iso="200"
        data-capturedate="2015-01-17"
        data-timestamp="2015-01-17, 15:25:29"
        data-fullimage="/static/photos/0003_lrg_1448394912000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0003_sml_1448394912000.jpg"
                data-srcset="/static/photos/0003_sml_1448394912000.jpg 768w,
                                  /static/photos/0003_med_1448394912000.jpg 1024w,
                                  /static/photos/0003_lrg_1448394912000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="2"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/640s"
        data-aperture="f/4"
        data-iso="200"
        data-capturedate="2015-01-17"
        data-timestamp="2015-01-17, 15:24:23"
        data-fullimage="/static/photos/0002_lrg_1448627977000.jpg"
        data-ratio="80%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--wide"
              style="height: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0002_sml_1448627977000.jpg"
                data-srcset="/static/photos/0002_sml_1448627977000.jpg 768w,
                                  /static/photos/0002_med_1448627977000.jpg 1024w,
                                  /static/photos/0002_lrg_1448627977000.jpg 1400w"
                class="ratio-container__image post__image lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="post post--square js--open-overlay"
        data-index="1"
        data-caption="&mdash;"
        data-tags="local,nature,"
        data-focal="55mm"
        data-exposure="1/640s"
        data-aperture="f/4"
        data-iso="200"
        data-capturedate="2015-01-17"
        data-timestamp="2015-01-17, 15:24:07"
        data-fullimage="/static/photos/0001_lrg_1448394912000.jpg"
        data-ratio="125%"
      >
        <div class="post--square__container">
          <div class="post--square__content">
            <div
              class="ratio-container ratio-container--tall"
              style="width: 80%"
            >
              <img
                src="/static/img/space.gif"
                data-sizes="auto"
                data-src="/static/photos/0001_sml_1448394912000.jpg"
                data-srcset="/static/photos/0001_sml_1448394912000.jpg 768w,
                                  /static/photos/0001_med_1448394912000.jpg 1024w,
                                  /static/photos/0001_lrg_1448394912000.jpg 1400w"
                class="ratio-container__image post__image post__image--tall lazyload"
                data-parent-fit="contain"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pagination">
      <a href="" class="disabled">&larr; Prev</a>
      <span>Page: 1/1</span>
      <a href="" class="disabled">Next &rarr;</a>
    </div>

    <script src="/static/js/samking_1448195015000.js"></script>

    <div class="overlay"></div>

    <script type="text/template" class="template--photo-overlay">
                  <div class="overlay__navigation">
          <a href="#" class="js--overlay-close">&times;</a>
          <div class="overlay__pagination">
              <a href="#" class="js--overlay-prev<% if (!sk.image.prevImageIndex) { %> disabled<% } %>">&larr;</a>
              <a href="#" class="js--overlay-next<% if (!sk.image.nextImageIndex) { %> disabled<% } %>">&rarr;</a>
          </div>
      </div>

      <div class="overlay__image-container">
          <div class="overlay__ratio"
               style="padding-bottom: <%- sk.image.ratio %>"></div>
          <div class="overlay__image  js--overlay-close"
               style="background-image: url(<%- sk.image.fullimage %>)"></div>
      </div>

      <dl class="overlay__details" data-overlayindex="<%- sk.image.overlayindex %>">
          <div class="overlay__details__section">
              <dt><%- sk.image.index %>. <%- sk.image.capturedate %></dt>
              <dd><%- sk.image.caption %></dd>
          </div>
          <div class="overlay__details__section overlay__details__section--half">
              <dt>Focal Length</dt>
              <dd><%- sk.image.focal %></dd>
              <dt>Shutter</dt>
              <dd><%- sk.image.exposure %></dd>
          </div>
          <div class="overlay__details__section overlay__details__section--half">
              <dt>Aperture</dt>
              <dd><%- sk.image.aperture %></dd>
              <dt>ISO</dt>
              <dd><%- sk.image.iso %></dd>
          </div>
          <% if (sk.image.tags.length) { %>
          <div class="overlay__details__section">
              <dt>Tagged</dt>
              <dd>
                  <% _.each(sk.image.tags, function (tag) { %>
                      <a href="<%- tag.url %>">#<%- tag.name %></a>
                  <% }); %>
              </dd>
          </div>
          <% } %>
      </dl>
    </script>

    <!-- GA -->
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );
      ga("create", "", "samking.co");
      ga("send", "pageview");
    </script>
  </body>
</html>
