{% extends 'layout.html' %}

{% block content %}
<div class="page-wrapper  page-wrapper--grid">
    {% for month in page %}
        <div class="post  post--square">
            <div class="post__square-sizer"></div>
            <h1>{{ month.name|date('Y-m') }}</h1>
        </div>

        {% for image in month.images %}
            <div class="post  post--square js--open-overlay"
                 data-index="{{ image.index }}"
                 data-caption="{{ image.caption }}"
                 data-tags="{% for tag in image.keywords %}{{ tag }},{% endfor %}"
                 data-focal="{{ image.focal }}mm"
                 data-exposure="{{ image.exposure }}s"
                 data-aperture="f/{{ image.aperture }}"
                 data-iso="{{ image.iso }}"
                 data-timestamp="{{ image.timestamp|date('Y-m-d, H:i:s') }}"
                 data-fullimage="/{{ image.sizes.large }}">
                <div class="post__square-sizer"></div>
                <div class="post__content-container">
                    <img src="/{{ image.sizes.large }}"
                         width="{{ image.dimensions.width }}"
                         height="{{ image.dimensions.height }}"
                         class="post__image{% if image.dimensions.height > image.dimensions.width %} post__image--tall{% endif %}">
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
