<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Sam King">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ site.author.name }}</title>
        <link rel="stylesheet" href="{{ site.staticFiles.css.dest }}">
        <link rel="author" content="Sam King">
    </head>
    <body>

        <div class="navigation">
            <div class="navigation__bio">
                <a href="/" class="branding">
                    <img src="/static/img/logo.svg" class="branding__logo" width="32">
                    <span class="branding__wordmark">Sam King</span>
                </a>

                <p>
                    Photographer &amp; Designer.<br>
                    Currently @<a href="http://lyst.com" target="_blank">Lyst</a>.
                </p>
            </div>

            <ul class="navigation__links  mono">
                <li class="navigation__link{% if page.basePath == '/archive/' %} navigation__link--active{% endif %}">
                    <a href="/archive/">Archive</a>
                </li>
                <li class="navigation__link{% if page.basePath == '/tagged/' %} navigation__link--active{% endif %}">
                    <a href="/tagged/">Tags</a>
                </li>
                <li class="navigation__link">
                    <a href="/info/">Info</a>
                </li>
            </ul>
        </div>

        {% block content %}{% endblock %}

        <script src="{{ site.staticFiles.js.dest }}"></script>

        {% block overlay_template %}
        <div class="overlay"></div>

        <script type="text/template" class="template--photo-overlay">
            {% include './partials/image-overlay.html' %}
        </script>
        {% endblock %}
    </body>
</html>
