{% extends 'layout.html' %}

{% block content %}
<div class="page-wrapper  page-wrapper--grid">
    <div class="post  post--square  post--title-block">
        <div class="post--square__container">
            <div class="post--square__content">
                <h1>#{{ page.tagName }}</h1>
            </div>
        </div>
    </div>

    {% for image in page.images %}
        {% include './partials/image-square.html' %}
    {% endfor %}
</div>

{% include './partials/pagination.html' %}

{% endblock %}
