<div class="post{% for modifier in image.modifiers %} post--{{ modifier }}{% endfor %} js--open-overlay"
     data-index="{{ image.index }}"
     data-caption="{% if image.caption %}{{ image.caption }}{% else %}&mdash;{% endif %}"
     data-tags="{% for tag in image.keywords %}{{ tag }}{% if loop.last != true %},{% endif %}{% endfor %}"
     data-focal="{{ image.focal }}mm"
     data-exposure="{{ image.exposure }}s"
     data-aperture="f/{{ image.aperture }}"
     data-iso="{{ image.iso }}"
     data-capturedate="{{ image.timestamp|date('Y-m-d') }}"
     data-timestamp="{{ image.timestamp|date('Y-m-d, H:i:s') }}"
     data-fullimage="{{ image.url }}&fit=max&auto=format&w=2800&q=50"
     data-ratio="{{ image.dimensions.height / image.dimensions.width * 100 }}%">
    {% if showindex %}<p class="post__index  mono">{{ image.index }}.</p>{% endif %}
    <div class="ratio-container  ratio-container--wide">
        <div class="ratio-container__sizer"
             style="padding-bottom: {{ image.dimensions.height / image.dimensions.width * 100 }}%"></div>
        <img src="/static/img/space.gif"
             data-sizes="auto"
             data-src="{{ image.url }}&fit=max&auto=format&w=480&q=50"
             data-srcset="{{ image.url }}&fit=max&auto=format&w=480&q=50&dpr=2 480w,
                          {{ image.url }}&fit=max&auto=format&w=768&q=50&dpr=2 768w,
                          {{ image.url }}&fit=max&auto=format&w=1024&q=50&dpr=2 1024w,
                          {{ image.url }}&fit=max&auto=format&w=1400&q=50&dpr=2 1400w"
             class="post__image  ratio-container__image  lazyload">
        <noscript>
            <img src="{{ image.url }}&fit=max&auto=format&w=2800&q=50"
                 width="{{ image.dimensions.width }}"
                 height="{{ image.dimensions.height }}"
                 class="post__image  ratio-container__image">
        </noscript>
    </div>
</div>
