<div class="post{% for modifier in image.modifiers %} post--{{ modifier }}{% endfor %} js--open-overlay"
     data-index="{{ image.index }}"
     data-caption="{{ image.caption }}"
     data-tags="{% for tag in image.keywords %}{{ tag }}{% if loop.last != true %},{% endif %}{% endfor %}"
     data-focal="{{ image.focal }}mm"
     data-exposure="{{ image.exposure }}s"
     data-aperture="f/{{ image.aperture }}"
     data-iso="{{ image.iso }}"
     data-timestamp="{{ image.timestamp|date('Y-m-d, H:i:s') }}"
     data-fullimage="/{{ image.sizes.large }}">
    <p class="post__index  mono">{{ image.index }}.</p>
    <div class="post__image-container">
        <picture class="post__image-placeholder"
                 style="padding-bottom: {{ image.dimensions.height / image.dimensions.width * 100 }}%">
            <!--[if IE 9]><video style=\"display: none;\"><![endif]-->
            <source data-srcset="/{{ image.sizes.medium }}" media="(min-width: 1440px)">
            <source data-srcset="/{{ image.sizes.medium }}, /{{ image.sizes.large }} 2x" media="(min-width: 768px)">
            <!--[if IE 9]></video><![endif]-->
            <img src="/static/img/space.gif" data-srcset="/{{ image.sizes.small }}" class="image lazyload">
        </picture>
        <noscript>
            <img src="/{{ image.sizes.small }}"
                 width="{{ image.dimensions.width }}"
                 height="{{ image.dimensions.height }}"
                 class="image">
        </noscript>
    </div>

    {# <div>
        {% for tag in image.keywords %}
            <a href="{{ site.urls.tagged.basePath }}{{ tag }}">#{{ tag }}</a>
        {% endfor %}
    </div> #}
</div>
