<div class="post  post--square js--open-overlay"
     data-index="{{ image.index }}"
     data-caption="{% if image.caption %}{{ image.caption }}{% else %}&mdash;{% endif %}"
     data-tags="{% for tag in image.keywords %}{{ tag }},{% endfor %}"
     data-focal="{{ image.focal }}mm"
     data-exposure="{{ image.exposure }}s"
     data-aperture="f/{{ image.aperture }}"
     data-iso="{{ image.iso }}"
     data-capturedate="{{ image.timestamp|date('Y-m-d') }}"
     data-timestamp="{{ image.timestamp|date('Y-m-d, H:i:s') }}"
     data-fullimage="/{{ image.sizes.large }}"
     data-ratio="{{ image.dimensions.height / image.dimensions.width * 100 }}%">
    <div class="post--square__container">
        <div class="post--square__content">
            <div class="ratio-container{% if image.dimensions.height > image.dimensions.width %} ratio-container--tall{% else %} ratio-container--wide{% endif %}"
            style="{% if image.dimensions.height > image.dimensions.width %}width: {{ image.dimensions.width / image.dimensions.height * 100 }}%{% else %}height: {{ image.dimensions.height / image.dimensions.width * 100 }}%{% endif %}">
                <img src="/static/img/space.gif"
                     data-sizes="auto"
                     data-src="/{{ image.sizes.small }}"
                     data-srcset="/{{ image.sizes.small }} 768w, /{{ image.sizes.medium }} 1024w, /{{ image.sizes.large }} 1400w"
                     class="ratio-container__image  post__image{% if image.dimensions.height > image.dimensions.width %} post__image--tall{% endif %}  lazyload"
                     data-parent-fit="contain">
            </div>
        </div>
    </div>
</div>
