{% extends '../layout.html' %}

{% block content %}

<div class="page-wrapper">
    <div class="page-content">
        <p class="text--hero">I'm a Photographer &amp; Designer currently at <a href="http://lyst.com" target="_blank">Lyst</a>.</p>

        <p>This website documents my creative process through photography&mdash;it's rendered entirely from each photographs meta &amp; exif data. Find out how it's built on <a href="http://github.com/samisking/samking.co">GitHub</a>.</p>

        <p class="mb30">I don't just take photos and code. In my spare time created a Golden Hour app for iOS&mdash;<a href="http://rizonapp.co">Rizon</a>. Huge shout out to <a href="http://twitter.com/malolan_s">Malolan</a> for helping me make it a reality.</p>

        <p class="mb15">If you're keen to shoot photos, or work on a side project, you can find me at various internet places:</p>

        <dl class="dl-grid mb30">
            <div class="dl-grid__section">
                <dt>Email</dt>
                <dd><a href="mailto:{{ site.info.email }}">{{ site.info.email }}</a></dd>
                <dt>GitHub</dt>
                <dd><a href="http://github.com/{{ site.info.github }}">{{ site.info.github }}</a></dd>
            </div>
            <div class="dl-grid__section">
                <dt>Instagram</dt>
                <dd><a href="http://instagram.com/{{ site.info.instagram }}">@{{ site.info.instagram }}</a></dd>
                <dt>Twitter</dt>
                <dd><a href="http://twitter.com/{{ site.info.twitter }}">@{{ site.info.twitter }}</a></dd>
            </div>
        </dl>

        <p class="mono"><small>Previously <a href="http://v4.samking.co">v4.samking.co</a>.</small></p>
    </div>
</div>

{% endblock %}
