{% extends '../layout.html' %}

{% block content %}

<div class="page-wrapper  page-wrapper--text">
    <div class="page-content">
        <p class="text--hero">I'm a Photographer &amp; Designer currently at <a href="http://lyst.com" target="_blank">Lyst</a>.</p>

        <p>This website documents my creative process through photography—it's rendered entirely from each photographs meta &amp; exif data. Find out how it's built on <a href="http://github.com/samisking/samking.co">GitHub</a>.</p>

        <p>In my spare time I like to make things, so I created <a href="http://rizonapp.co">Rizon</a>, a Golden Hour calculator for iPhone—it helps photographers like myself find the best time to shoot photos outdoors. Huge shout out to <a href="http://twitter.com/malolan_s">Malolan</a> for helping me make it a reality.</p>

        <p class="mb15">I'm always looking for interesting things to design/build/photograph. You can find me at various internet places:</p>

        <dl class="dl-grid mb30">
            <div class="dl-grid__section">
                <dt>Email</dt>
                <dd><a href="mailto:mail@samking.co">mail@samking.co</a></dd>
                <dt>GitHub</dt>
                <dd><a href="http://github.com/samisking">samisking</a></dd>
            </div>
            <div class="dl-grid__section">
                <dt>Instagram</dt>
                <dd><a href="http://instagram.com/samkingphoto">@samkingphoto</a></dd>
                <dt>Twitter</dt>
                <dd><a href="http://twitter.com/samkingphoto">@samkingphoto</a></dd>
            </div>
        </dl>

        <p class="mono">
            <small>Please don't steal my photos. I'll find out.</small><br>
            <small>Previously <a href="http://v4.samking.co">v4.samking.co</a>.</small>
        </p>
    </div>
</div>

{% endblock %}
