/* Colours */
$color-black: #212121;
$color-light: #999999;


/* Breakpoints */
$palm-size: 30em;
$lap-size: 48em;
$portable-size: 64em;
$portable-lg-size: 76em;
$desk-size: 90em;
$desk-lg-size: 106.25em;


/* @font-face helper */
@define-mixin font-face $font-family, $file-path, $weight: normal, $style: normal {
  @font-face {
    font-family: $font-family;
    src: url('$(file-path).eot');
    src: url('$(file-path).eot?#iefix') format('embedded-opentype'),
       url('$(file-path).woff') format('woff'),
       url('$(file-path).ttf') format('truetype'),
       url('$(file-path).svg#$(font-family)') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin font-face Akzidenz, /static/fonts/akzidenzgroteskbe-regular;
@mixin font-face Akzidenz, /static/fonts/akzidenzgroteskbe-bold, bold;


/* Media Query helper */
@define-mixin mq-min $point {
  @media only screen and (min-width: $point) { @mixin-content; }
}

/* Defining mq's here for mqpacker order */
@mixin mq-min $palm-size { /* hey mqpacker */ }
@mixin mq-min $lap-size { /* hey mqpacker */ }
@mixin mq-min $portable-size { /* hey mqpacker */ }
@mixin mq-min $portable-lg-size { /* hey mqpacker */ }
@mixin mq-min $desk-size { /* hey mqpacker */ }


*, *:before, *:after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: white;
  font-family: 'Akzidenz', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.07em;
  color: $color-black;
}

  .state--overlay-open {
    overflow: hidden;
  }

p {
  margin: 0 0 10px;
}

a {
  color: $color-black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;

  @mixin mq-min $palm-size {
    font-size: 36px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

dl, dt, dd {
  margin: 0;
}

dt {
  font-family: Menlo, monospace;
  color: $color-light;
  font-size: 10px;
  margin-bottom: 5px;
  line-height: 1;
}

dd {
  margin-bottom: 15px;
}

.mono {
  font-family: Menlo, monospace;
  color: $color-light;
}

.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }





/* Navigation */
.branding {
  display: block;
  position: relative;
  margin-bottom: 10px;

  &:hover {
    text-decoration: none;
  }

  &__logo {
    width: 32px;
    position: absolute;
    left: 0;
    bottom: 5px;
  }

  &__wordmark {
    padding-left: calc(32px + 10px);
    font-size: 16px;
    letter-spacing: 0.14em;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.navigation {
  padding: 40px 20px;

  @mixin mq-min $palm-size {
    padding: 0;
    max-width: 200px;
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 100;
  }

  &__bio {
    margin-bottom: 20px;
  }

  &__links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    line-height: 1.6;

    @mixin mq-min $palm-size {
      display: block;
    }

    a {
      color: $color-light;

      &:hover {
        color: $color-black;
      }
    }
  }

  &__link {
    margin-right: 20px;
    margin-bottom: 10px;

    &--active a {
      color: $color-black;
      text-decoration: underline;
    }
  }
}




$page-mob-horz: 20px;
$page-lap-top: 113px;
$page-lap-left: 160px;
$page-lap-right: 200px;


/* Page Content */
.page-wrapper {
  margin: 0 $page-mob-horz 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @mixin mq-min $palm-size {
    margin-top: $page-lap-top;
    margin-left: $page-lap-left;
    margin-right: $page-lap-right;
  }

  &--index {
    @mixin mq-min $palm-size {
      margin-top: calc($(page-lap-top) - 20px);
    }
  }

  &--grid {
    justify-content: flex-start;

    @mixin mq-min $palm-size {
      margin-left: calc($(page-lap-left) - 15px);
      margin-right: calc($(page-lap-right) - 15px);
    }
  }
}

  .page-content {
    @mixin mq-min $palm-size {
      width: 80%;
    }
  }

    .tag-cloud {
      font-size: 36px;
      font-weight: bold;
    }




/* Image grids */
.post {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @mixin mq-min $palm-size {
    width: 80%;
  }

  &--extended {
    width: 100%;
  }

  &--half {
    width: calc(50% - 10px);

    & + & {
      margin-left: 20px;
    }

    @mixin mq-min $palm-size {
      width: calc(40% - 20px);

      & + & {
        margin-left: 40px;
      }
    }
  }

  &--square {
    width: calc(50% - 10px);
    margin: 0 5px 30px;
    overflow: hidden;
    position: relative;

    @mixin mq-min $palm-size {
      width: calc(33.333% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  &__square-sizer {
    float: left;
    width: 1px;
    height: 0;
    padding-bottom: 100%;
  }

  &__index {
    font-size: 10px;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
  }

  &__image-container {
    width: 100%;
    cursor: pointer;
  }

  &__image-placeholder {
    height: 0;
    overflow: hidden;
    background: #f2f2f2 url('/static/img/logo.svg') no-repeat center;
    background-size: 64px;
  }

  &__content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__image {
    cursor: pointer;
  }

  &__image--tall {
    width: auto;
    height: 100%;
    max-width: none;
    max-height: 100%;
  }
}

  .image__image-container {
    .image--pad1 & { padding: 5%; }
    .image--pad2 & { padding: 10%; }
    .image--pad3 & { padding: 15%; }
    .image--pad4 & { padding: 20%; }
    .image--pad5 & { padding: 25%; }
  }





/* Pagination */
.pagination {
  margin: 0 160px 200px 200px;
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .disabled {
    opacity: 0.3;
    pointer-events: none;
  }





/* Photo Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: -10;
  opacity: 0;
  display: flex;

  .state--overlay-open & {
    z-index: 200;
    opacity: 1;
  }

  &__details {
    width: 260px;
    padding: 20px;
    flex-shrink: 0;
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    a {
      color: $color-light;
    }
  }

  &__pagination a {
    font-weight: bold;

    &:first-child {
      margin-right: 10px;
    }
  }

  &__image-container {
    flex-grow: 1;
    position: relative;
  }

  &__image {
    position: absolute;
    top: 20px;
    left: 0;
    right: 20px;
    bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      cursor: -webkit-zoom-out;
      cursor: -moz-zoom-out;
    }
  }
}

/*# sourceMappingURL=style.css.map */
