*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.post-list {
    max-width: 70%;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

    .post {
        width: 80%;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

        .post--extended {
            width: 100%;
        }

        .post--half {
            width: calc(40% - 20px);
        }

        .post--half + .post--half {
            margin-left: 40px;
        }

        .post__image-container {
            width: 100%;
            background: #f2f2f2;
        }

            .image-container__sizing {
                height: 0;
                overflow: hidden;
            }


        .image--pad1 .image__image-container { padding: 5%; }
        .image--pad2 .image__image-container { padding: 10%; }
        .image--pad3 .image__image-container { padding: 15%; }
        .image--pad4 .image__image-container { padding: 20%; }
        .image--pad5 .image__image-container { padding: 25%; }




.post-grid {
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

    .post--in-grid {
        width: calc(25% - 20px);
        margin: 0 10px 40px;
    }
